.main {
	width: 1400px;
	height: 590px;
	margin-top: 106px;
	margin-bottom: 106px;
	margin-left: 143px;
	margin-right: 144px;
	text-align: center;
}
.title {
	color: #212121;
	font-family: 'Raleway', sans-serif;
}

.subtitle {
	color: #333333;
	font-family: 'Open Sans', sans-serif;
}

.wrap {
	margin-top: 80px;
	height: 197px;
	width: 350px;
	display: inline-block;
}

.text {
	margin-top: 30px;
	color: #86878B;
	font-family: 'Open Sans', sans-serif;
}
.pic {
	margin-top: 15px;
}
.circle {
	width: 70px;
	height: 70px;
	border-radius: 70px; 		
    border: 2px solid #ff8b38;
	text-align: center;
	display: inline-block;
	margin-bottom: 15px;
}
